/* General Styles */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    position: relative; /* Ensure relative positioning for absolute content */
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for navbar */
    position: absolute; /* Position navbar absolutely */
    width: 100%;
    z-index: 10; /* Ensure navbar is on top */
}

.navbar-brand, .nav-link {
    font-size: 1.2rem;
    color: #ffffff !important; /* Text color for navbar links */
}

.nav-link {
    transition: color 0.3s;
}

.nav-link:hover {
    color: #007bff;
}

.hero {
    padding: 150px 0;
    position: relative; /* Ensure relative positioning */
    color: #ffffff;
    text-align: center;
    background-image: url('images/Dark\ blue\ wallpapers\ ipad.jpg'); /* Set background image */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Set hero section height to viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, .lead {
    margin-bottom: 20px;
}

h2.display-4 {
    font-size: 3rem;
}

.text-primary {
    color: #007bff !important;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.img-fluid {
    max-width: 80%;
    border: 5px solid #007bff;
    margin-top: 20px; /* Adjust margin as needed */
}

.mt-4 a {
    transition: color 0.3s;
}

.mt-4 a:hover {
    color: #0056b3;
}
